/*Stylesheet style.css*/
body {
margin:0px;
padding:0px;
background-color:#000;
color:#057;
}
a:link {
color:#057;
text-decoration:none;
}
a:hover {
color:#057;
text-decoration:none;
}
a:active{
color:#057;
text-decoration:none;
}
a:visited{
color:#057;
text-decoration:none;
}
#player {
border:solid 0px;
margin-left:70px;
margin-right:70px;
overflow:auto;
}
.ctrlimg {
width:25px;
height:25px;
border:0px;
vertical-align:middle;
background-color:#057;
}
.listimg {
background-color:#057;
}
.img {
background-color:#057;
}
#playerctrl {
min-width:400px;
}
.active {
background-color:#024;
}
#seekbar {
background-color:#023;
height:20px;
margin-left:5px;
margin-right:5px;
}
#seekelapsed {
width:150px;
background-color:#057;
height:20px;
text-align:right;
z-index:999;
}
#seekcoords {
position:absolute;
display:none;
z-index:999;
padding:5px;
color:#057;
background-color:#000000;
}